<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>

    @model wall.Models.User
    <form asp-controller="Home" asp-action="Log" method="post">
        <table>
             <tr>
                <td>
                    <label for="">User Name</label>
                    <input asp-for="UserName"/>
                </td>
                <td>
                    <span asp-validation-for="UserName"></span>
                 </td>
            </tr>
            <tr>
                <td>
                    <label for="">Password</label>
                    <input asp-for="Password"/>
                </td>
                <td>
                    <span asp-validation-for="Password"></span>
                 </td>
            </tr>
        </table>
    <button type="submit">Login</button>
    </form>

</body>
</html>