<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
@{
    var user = ViewBag.user;
}
<body>
    <h1>Hi @user.UserName!</h1>
</body>
</html>